/***/
body{
	background: #FFFFFF;
	overflow-y: hidden;
	height:100%;
}

.wraper{
	padding-bottom:.72rem;
	padding-top:.44rem;
	height:100%;
	overflow-y: auto;
}
.no_padding_wraper{
	padding-bottom:0
}
.wraper .ssq_items{
	height:100%;
	overflow-y: auto;
}

/**底部按钮**/
.hc-h5-wrap>footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
}
.hc-h5-wrap>footer {
    width: 100%;
    height: 0.7rem;
    line-height: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    border-top:1px solid #D9D9D9;
    background:#ffffff !important; 
    padding:0.1rem 0.13rem;
}
footer .footer_btn {
	width:100%;
	height:100%;
	background: -webkit-linear-gradient(left,#FF1E00, #FFC100) !important; /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left,#FF1E00, #FFC100) !important; /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left,#FF1E00, #FFC100) !important; /* Firefox 3.6 - 15 */
	background: linear-gradient(left,#FF1E00, #FFC100) !important; /* 标准的语法 */
	border-radius: 0.03rem;
	position: relative;
}
footer button.btn_red {
	position: absolute;
	top:50%;
	width:100%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: "微软雅黑";
	font-size: .19rem;
	background-color:transparent ;
	width: 100%;
	border: 0;
	color: #FFFFFF;
	border-radius: .03rem;
	vertical-align: middle;
	outline: none !important;
	cursor: pointer;
}

/* 开奖查询优化 */
.kj_issue_search{
	width: 100%;
	height: .46rem;
	padding: .06rem .1rem;
	position: relative;
	z-index: 9999;
}
.kj_issue_search .search-issue{
	display: block;
	width: 100%;
	height: 100%;
	line-height: .34rem;
	background-color: #e7e8ea;
	color: #919191;
	border: 0;
	border-radius: .05rem;
	text-indent: .1rem;
	font-size: .15rem;
	
}
.kj_issue_search .search-issue.add-search-logo{
	color: #000;
	padding-left: 42%;
	background:#e7e8ea url(//static.letoula.com/images/v1.0/info/award/search-logo.png) no-repeat 40% center;
	background-size: .15rem .15rem;
}
.issue-search-close{
	width: .3rem;
	height: 100%;
	display: block;
	position: absolute;
	right: .1rem;
	top: 0px;
	background: url(//static.letoula.com/images/v1.0/info/award/search-start.png) no-repeat  center;
	background-size: 50%;
}
.issue-search-close.bg-change{
	background: url(//static.letoula.com/images/v1.0/info/award/search-issue.png) no-repeat  center;
	background-size: 50%;
}
/* 键盘 */
.inner_val{
	font-style: normal;
	background-color: #78a7e6;
}
.keyboard{
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
}
.keyboard td{
  border: 1px solid #D9D9D9;
}
.keyboard thead td{
  height: 0.5rem;
  text-align: center;
  color: #383838;
  font-size: 0.18rem;
  font-weight: normal;
}
.keyboard thead td p{
	font-size: 0.13rem;
	line-height: 0.16rem;
	color: #59a7e0;
}
.keyboard thead td.active{
    color: #ffb10b;
}
.keyboard tbody td{
  height: 0.62rem;
  width: 33.3333333%;
  color: #383838;
  font-size: 0.32rem;
}
.keyboard thead td:empty{
	height: 0;
	border: 0; 
}
.keyboard tbody .sure{
  color: #fff;
  font-size: .22rem;
  /*background-color: #e12d3e;*/
  background: -webkit-linear-gradient(left,#FF1E00, #FFC100) !important; /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left,#FF1E00, #FFC100) !important; /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left,#FF1E00, #FFC100) !important; /* Firefox 3.6 - 15 */
  background: linear-gradient(left,#FF1E00, #FFC100) !important; /* 标准的语法 */
}
.keyboard tbody .del{
  font-size: 0;
  background-image: url('//static.letoula.com/images/v1.0/trade/sports/zqdc/del.png');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 0.35rem 0.23rem;
  background-size: 0.35rem 0.23rem;
  background-color: #f0f0f0;
}
.keyboard tbody .ctrl_key:active{
	background-color:rgba(0,0,0,0.2)
}
.del_line:active{
	background-color:rgba(0,0,0,0.2)
}